<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlnhasach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Menu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".danhSachTimKiemGiaTien"></activity>
        <activity android:name=".DangKy" />
        <activity android:name=".danhSachTimKiem" />
        <activity android:name=".timKiem" />
        <activity android:name=".DangNhap" />
        <activity android:name=".UpdateHoaDon" />
        <activity android:name=".ChiTiet" />
        <activity android:name=".AddSachActivity" />
        <activity android:name=".AddNhanXet" />
        <activity android:name=".UpdateSachActivity" />
        <activity android:name=".QuanLySach" />
        <activity android:name=".addKhachHang" />
        <activity android:name=".UpdateKhachHang" />
        <activity android:name=".ChiTietDatHang" />
        <activity android:name=".danhsachHoaDon" />
        <activity android:name=".LichSuMuaHang" />
        <activity android:name=".danhsachKH" />
        <activity android:name=".SachKimDong" />
        <activity android:name=".HoTro" />
        <activity android:name=".NXB" />
        <activity android:name=".TheLoai" />
        <activity android:name=".TacGia" />
        <activity android:name=".Chitiet_sach"/>
        <activity android:name=".DanhSachGioHang"/>
        <activity android:name=".ThanhToanActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SachTrinhTham" />
    </application>

</manifest>